/* TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* IMPORTED FONTS */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap");

/* GLOBAL STYLES */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Barlow Semi Condensed", sans-serif;
	font-size: 13px;
}

.purple-card {
	background-image: url("./assets/bg-pattern-quotation.svg");
	background-repeat: no-repeat;
	background-position: top right 18%;
	background-size: 100px;
}
